{% extends 'base.html' %}
{% block style %}
    <style>
        #map {
            height: 400px;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-ancestor">
                    <div class="tile is-6 is-vertical is-parent">
                        <div class="tile is-child">
                            <h1 class="title">Learn basic GIS operations</h1>
                            <p>Go through interactive tutorials and learn the basic GIS operations!</p>
                        </div>
                    </div>
                    <div class="tile is-4 is-parent" >
                        <div class="tile is-child">
                            <h1 class="title">Register today!</h1>
                            <div class="box">
                            <form method="post" action="{% url 'index' %}">
                            {% csrf_token %}
                                <label class="label">Email</label>
                                <p class="control">
                                    <input class="input" name="username" type="text" placeholder="jsmith@example.org">
                                </p>
                                <hr>
                                <label class="label">Password</label>
                                <p class="control">
                                    <input class="input" name="password1" type="password" placeholder="●●●●●●●">
                                </p>
                                <label class="label">Confirm Password</label>
                                <p class="control">
                                    <input class="input" name="password2" type="password" placeholder="●●●●●●●">
                                </p>
                                <hr>
                                <p class="control">
                                    <button type="submit" class="button is-primary">Register</button>
                                    <button class="button is-default">Cancel</button>
                                </p>
                            </form>
                            <span class="help is-danger">{{ form.non_field_errors.0 }}</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="tile is-4 is-vertical is-parent">
                    <div class="tile is-child">
                        <h1 class="title">Sandbox</h1>
                        <p>Use the sandbox GIS to learn by yourself!</p>
                    </div>
                </div>
                <div class="tile is-parent box">
                    <div class="tile is-child" id="map">

                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}

{% block js %}
    <script>
        var map = L.map('map').setView([63.446827, 10.421906], 10);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
{% endblock %}