{% extends 'base.html' %}

{% block title %}
    Registrer
{% endblock title %}

{% block content %}
    <section class="hero is-fullheight is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-4 is-offset-4">
                        <h1 class="title">
                            Register an Account
                        </h1>
                        <div class="box">
                            <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                                <label class="label">Email</label>
                                <p class="control">
                                    <input class="input" name="username" type="text" placeholder="jsmith@example.org">
                                </p>
                                <hr>
                                <label class="label">Password</label>
                                <p class="control">
                                    <input class="input" name="password1" type="password" placeholder="●●●●●●●">
                                </p>
                                <label class="label">Confirm Password</label>
                                <p class="control">
                                    <input class="input" name="password2" type="password" placeholder="●●●●●●●">
                                </p>
                                <hr>
                                <p class="control">
                                    <button type="submit" class="button is-primary">Register</button>
                                    <button class="button is-default">Cancel</button>
                                </p>
                            </form>
                            <span class="help is-danger">{{ form.non_field_errors.0 }}</span>
                        </div>
                        <p class="has-text-centered">
                            <a href="{% url 'login' %}">Login</a>
                            |
                            <a href="#">Need help?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock content %}