{% extends 'base.html' %}
{% block style %}
    <style>
        .completed {
            background: rgba(25, 220, 42, 0.1);
        }
    </style>
{% endblock %}
{% block content %}




<div id="app" v-cloak>
    <section class="section is-large">
        <div class="container">
            <h1 class="title is-1">{{ course.title }}</h1>
            <div class="tabs is-medium">
                <ul>
                    <li :class="{'is-active': show == 'overview'}">
                        <a @click="show='overview'" href="#" id="overview">
                        Overview
                        </a>
                    </li>
                    <li :class="{'is-active': show == 'syllabus'}">
                        <a @click="show = 'syllabus'" href="#" id="syllabus">
                        Syllabus
                        </a>
                    </li>
                </ul>
            </div>

            <div  v-show="show === 'overview'">
                <p>{{ course.overview }}</p>
            </div>

            <div v-show="show === 'syllabus'">
                {% for lesson in lessons %}
                    <div class="box {% if lesson.user_progress == 100 %} completed {% endif %} ">
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <a href="{% url 'lesson-detail' lesson.course.slug lesson.slug %}">
                                    <p class="title is-3">{{ lesson.title }}</p>
                                    <p>{{ lesson.overview }}</p>
                                    <p>Exercises: {{ lesson.num_exercises }}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <p class="title is-4">Your progress: {{ lesson.user_progress }}%</p>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}
{% block js %}
    <script>
        var app3 = new Vue({
            el: '#app',
            data: {
                show: 'overview',
            },
        })
    </script>
{% endblock %}