{% extends 'base.html' %}
{% block style %}
    <style>
        .has-navbar {
            margin-top: 50px;
        }
    </style>
{% endblock %}
{% block content %}
<section class="section is-large">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow">
                <p class="title">
                    Courses
                </p>
            </div>
            <div class="column">
                <a class="button is-primary" href="{% url 'catalog' %}">All courses</a>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                {% if courses %}
                    <p>Continue with your courses below, and become an expert GIS'er!</p>
                {% else %}
                    <p>You have not enrolled in any courses yet! Check out the catalog for some awesome stuff!</p>
                {% endif %}
            </div>
        </div>

        {% for course in courses %}
            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <a href="{% url 'learn-course-detail' course.slug %}">
                        <div class="content">
                            <p>
                                <strong>{{ course.title }}</strong>
                                <br>
                                {{ course.overview }}
                            </p>
                        </div>
                         </a>
                        <progress class="progress is-primary" value="{{ course.progress }}" max="100">30%</progress>
                        <nav class="level">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                </a>
                            </div>
                            <div class="level-right">
                                <a class="level-item button is-primary">
                                    Continue
                                </a>
                            </div>
                        </nav>
                    </div>

                </article>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}