<div id="gisapp" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="columns">
        <div class="column is-paddingless">
            <div id="map"></div>
        </div>

        <div class="column is-2 hero is-fullheight">
            <aside class="menu" id="right-menu">
                <div class="panel">
                    <div class="panel-heading">
                        GIS operations
                    </div>
                    <div class="panel-block">
                        <div class="level">
                            <div class="level-left">
                                <button class="button" @click="toggleDialog('buffer')">Buffer</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <div class="level">
                            <div class="level-item">
                                <button class="button" @click="toggleDialog('intersect')">Intersect</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <div class="level">
                            <div class="level-item">
                                <button class="button" @click="toggleDialog('union')">Union</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <div class="level">
                            <div class="level-item">
                                <button class="button" @click="toggleDialog('difference')">Difference</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-block">
                        <div class="level">
                            <div class="level-item">
                                <button class="button" @click="toggleDialog('mergeSelected')">Merge to layer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="level">
                            <p>Layers on the map</p>
                            <button class="button is-small is-primary" @click="toggleDialog('upload')"
                                    v-bind:class="{'is-loading': loadingLayers }">Add
                            </button>
                        </div>

                    </div>
                    <div class="panel-block">
                        <div class="level">
                            <button class="button is-small" @click="bringSelectedLayersToFront()">Bring to front
                            </button>

                            <button class="button is-small is-danger" @click="deleteSelectedLayers()">Delete</button>
                        </div>
                    </div>
                    <div class="panel-block" v-for="layer in layers">
                        <div class="level">
                            <div class="level-left">
                                <input type="checkbox" v-model="layer.checked" @click="highlightSelectedLayer(layer)">
                            </div>
                            <div class="level-right">
                                <p>[[ layer.name ]]</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        Selected features
                    </div>
                    <div class="panel-block" v-for="layer in selectedFeatures">
                        <p>Id: [[ layer.feature.id ]] Type: [[layer.feature.geometry.type ]]</p>
                    </div>
                    <div class="panel-block" v-if="selectedFeatures.length == 0">
                        <p>Click on a map feature to select it!</p>
                    </div>
                </div>
            </aside>
        </div>
    </div>


    <div id="buffer-dialog" class="modal" v-bind:class="{'is-active': dialogs.buffer}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Buffer</p>
                <button @click="toggleDialog('buffer')" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Layer name" v-model="newLayerName">
                </p>
                <label class="label">Size</label>
                <p class="control">
                    <input class="input" type="number" placeholder="Buffer size in meters" v-model="bufferSize">
                </p>
                <div class="level">
                    <div class="level-item">
                        <label class="label">Selected features</label>
                        <p v-for="layer in selectedFeatures">
                            [[layer.feature.geometry.type ]]
                        </p>
                    </div>
                    <div class="level-item">
                        <label class="label">Selected layers</label>
                        <p v-for="layer in selectedLayers">
                            [[layer.name ]]
                        </p>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a @click="doGisOperation('buffer', {'size': bufferSize, 'layer_name': newLayerName})"
                   class="button is-primary">Buffer</a>
                <a @click="toggleDialog('buffer')" class="button">Cancel</a>
            </footer>
        </div>
    </div>
    <div id="intersect-dialog" class="modal" v-bind:class="{'is-active': dialogs.intersect}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Intersect</p>
                <button @click="toggleDialog('intersect')" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Layer name" v-model="newLayerName">
                </p>
                <div class="level">
                    <div class="level-item">
                        <label class="label">Selected features</label>
                        <p v-for="layer in selectedFeatures">
                            [[layer.feature.geometry.type ]]
                        </p>
                    </div>
                    <div class="level-item">
                        <label class="label">Selected layers</label>
                        <p v-for="layer in selectedLayers">
                            [[layer.name ]]
                        </p>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a @click="doGisOperation('intersect', {'layer_name': newLayerName})" class="button is-primary">Intersect</a>
                <a @click="toggleDialog('intersect')" class="button">Cancel</a>
            </footer>
        </div>
    </div>

    <div id="merge-selected-dialog" class="modal" v-bind:class="{'is-active': dialogs.mergeSelected}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Merge selected features</p>
                <button @click="toggleDialog('mergeSelected')" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Layer name" v-model="newLayerName">
                </p>
                <div class="level">
                    <div class="level-item">
                        <label class="label">Selected features</label>
                        <p v-for="layer in selectedFeatures">
                            [[layer.feature.geometry.type ]]
                        </p>
                    </div>
                    <div class="level-item">
                        <label class="label">Selected layers</label>
                        <p v-for="layer in selectedLayers">
                            [[layer.name ]]
                        </p>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a @click="doGisOperation('merge', {'layer_name': newLayerName})" class="button is-primary">Merge</a>
                <a @click="toggleDialog('mergeSelected')" class="button">Cancel</a>
            </footer>
        </div>
    </div>

    <div id="union-dialog" class="modal" v-bind:class="{'is-active': dialogs.union}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Union</p>
                <button @click="toggleDialog('union')" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Layer name" v-model="newLayerName">
                </p>
                <div class="level">
                    <div class="level-item">
                        <label class="label">Selected features</label>
                        <p v-for="layer in selectedFeatures">
                            [[layer.feature.geometry.type ]]
                        </p>
                    </div>
                    <div class="level-item">
                        <label class="label">Selected layers</label>
                        <p v-for="layer in selectedLayers">
                            [[layer.name ]]
                        </p>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <a @click="doGisOperation('union', {'layer_name': newLayerName})" class="button is-primary">Union</a>
                <a @click="toggleDialog('union')" class="button">Cancel</a>
            </footer>
        </div>
    </div>

    <div id="difference-dialog" class="modal" v-bind:class="{'is-active': dialogs.difference}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Difference</p>
                <button @click="toggleDialog('difference')" class="delete"></button>
            </header>
            <section class="modal-card-body">
                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Layer name" v-model="newLayerName">
                </p>
                <div class="level">
                    <div class="level-item">
                        <label class="label">Selected features</label>
                        <p v-for="layer in selectedFeatures">
                            [[layer.feature.geometry.type ]]
                        </p>
                    </div>
                    <div class="level-item">
                        <label class="label">Selected layers</label>
                        <p v-for="layer in selectedLayers">
                            [[layer.name ]]
                        </p>
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                <a @click="doGisOperation('difference', {'layer_name': newLayerName})"
                   class="button is-primary">Difference</a>
                <a @click="toggleDialog('difference')" class="button">Cancel</a>
            </footer>
        </div>
    </div>
    <div id="upload-dialog" class="modal" v-bind:class="{'is-active': dialogs.upload}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add</p>
                <button @click="toggleDialog('upload')" class="delete"></button>
            </header>
            <section class="modal-card-body">

                <label class="label">Name</label>
                <p class="control">
                    <input class="input" type="text" placeholder="Layer name" v-model="newLayerName">
                </p>
                <label class="label">File</label>
                <p class="control">
                    <input type="file" @change="setFile($event)">
                </p>
                <p>You can either upload a <strong>.zip</strong> file containing at least <strong>.shp .dbf
                    .prj</strong></p>
                <p>or you can upload a <strong>.geojson</strong> file containing geojson.</p>
            </section>
            <footer class="modal-card-foot">
                <a class="button is-primary" @click="addLayerFromFile()">Add</a>
                <a @click="toggleDialog('upload')" class="button">Cancel</a>
            </footer>
        </div>
    </div>
    <div id="error-dialog" class="modal" v-bind:class="{'is-active': dialogs.error}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="notification is-danger">
                <button class="delete" @click="toggleDialog('error')"></button>
                Oops! Something went wrong :(
            </div>
        </div>
    </div>
        <div id="completed-dialog" class="modal" v-bind:class="{'is-active': dialogs.completed}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="notification is-success">
                <button class="delete" @click="toggleDialog('completed')"></button>
                Woho! You completed this lesson. Great job! Now press "home" in the left corner and try a new one.
            </div>
        </div>
    </div>
</div>

