{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>

        #side-menu {
            height: 100vh;
            overflow-y: scroll;
        }

        #side-menu .container {
            padding: 10px 0 10px 10px;
        }

        #right-menu {
            padding-top: 10px;
        }

        .not-active {
            opacity: 0.5;
        }

    </style>
{% endblock style %}
{% block nav %}
{% endblock %}
{% block content %}
    <div class="columns">
        <div id="side-menu" class="column is-2 hero is-fullheight is-hidden-mobile" v-cloak>
            <div class="container">
                <nav class="level">
                    <p class="level-item has-text-centered">
                        {% if prev_exercise %}
                            <a href="{% url 'exercise-detail' prev_exercise.lesson.course.slug prev_exercise.lesson.slug prev_exercise.slug %}"
                               class="button is-primary">
                                Back
                            </a>
                        {% else %}
                            <a class="button is-primary is-disabled">
                                Back
                            </a>
                        {% endif %}
                    </p>
                    <p class="level-item has-text-centered">
                        {{ exercise.order }} / {{ exercise_count }}
                    </p>
                    <p class="level-item has-text-centered">
                        {% if next_exercise %}
                            <a href="{% url 'exercise-detail' next_exercise.lesson.course.slug next_exercise.lesson.slug next_exercise.slug %}"
                               class="button is-primary">
                                Next
                            </a>
                        {% else %}
                            {% if next_lesson %}
                                <a href="{% url 'lesson-detail' next_lesson.course.slug next_lesson.slug %}"
                                   class="button is-primary">
                                    Next lesson
                                </a>
                            {% else %}
                                <a href="{% url 'learn' %}" class="button is-primary">
                                    Home
                                </a>
                            {% endif %}

                        {% endif %}
                    </p>
                </nav>

                <div class="panel">
                    <div class="panel-heading">
                        Learn
                    </div>
                    <div class="panel-block">
                        <div class="content">
                            {{ exercise.description | safe }}
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <div class="level">
                            <p>Instructions</p>
                            <button class="button is-primary" @click="checkLastInstruction()">Check</button>
                        </div>

                    </div>
                    <div class="panel-block">
                        <div class="level" :class="{'not-active': currentInstruction != instruction}"
                             v-for="instruction in instructions">
                            <div class="level-left">
                                <div class="level-item">
                                            <span class="icon">
                                                <i class="fa"
                                                   :class="{'fa-check-square-o': instruction.completed, 'fa-square-o': !instruction.completed}"></i>
                                            </span>
                                </div>
                                <div class="level-item">
                                    <p>
                                        [[ instruction.order ]]. [[instruction.description ]]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="column is-10">
            {% include 'gisapp.html' %}
        </div>
    </div>

{% endblock content %}

{# Override the footer so we can render it empty #}
{% block footer %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/gisapp.js' %}"></script>
    <script>
        var exerciseSlug = "{{ exercise.slug }}";
        // Set the center for the map defined by the exercise.
        var map_center_lat = {{ map_center_lat }};
        var map_center_lng = {{ map_center_lng }};
        GISApp.setCenter(map_center_lat, map_center_lng, 13);
    </script>
    <script src="{% static 'js/exerciseapp.js' %}"></script>
{% endblock %}