{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}Giscademy{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="{% static 'css/leaflet-sidebar.min.css' %}"/>

    {% block style %}{% endblock style %}
</head>
<body>
{% block content %}{% endblock %}
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="{% static 'js/leaflet-sidebar.min.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>